<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have permission to view this resource</h6>
    <img src="~/images/noaccess.png" style="width:300px;height:300px" />
</div>