<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- the targets to write to -->
	<targets>
		<!-- write to file -->
		<target name="allfile" xsi:type="File"
				fileName="${basedir}/Logs/nlog-all-${shortdate}.log"
		/>

	</targets>

	<rules>
		<!-- add your logging rules here -->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>